{name, "ezmq"}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{description, "NIF-based zeromq binding for Erlang"}.
{homepage, "https://github.com/yrashk/ezmq"}.
{license, "MIT"}.
{url, {git, "https://github.com/yrashk/ezmq.git", {branch, "master"}}}.
{applications, [ezmq]}.
{build_command, "make"}.
